## 시리즈

In [72]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#key : value 쌍으로 딕셔너리를 만들고, 변수  dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c' : 3}

#판다스 Series() 함수로 dictionary를 Series로 변환, 변수 sr에 저장
sr = pd.Series(dict_data)

#sr의 자료형 출력
print(type(sr))
print('\n')
#변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [4]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

#인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [5]:
#튜플을 시리즈로 변환, 인덱스 옵션 지정
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [6]:
print(sr[0])
print(sr['이름'])

영인
영인

In [8]:
#여러 개의 원소를 선택
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [9]:
print(sr[1 : 2])
print('\n')
print(sr['생년월일' : '성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

## 데이터프레임

In [11]:
#열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c3' : [10,11,12], 'c4' : [13,14,15]}

#판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환, 변수 df에 저장
df = pd.DataFrame(dict_data)

#df의 자료형 출력
print(type(df))
print('\n')
#변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [14]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                  index = ['준서','예은'],
                  columns = ['나이','성별','학교'])
        
#행 인덱스, 열 이름 확인하기
print(df)        #데이터프레임
print('\n')
print(df.index)  #행 인덱스
print('\n')
print(df.columns)  #열 이름

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [17]:
#행 인덱스, 열 이름 변경하기

df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

print(df) #데이터프레임

print(df.index) #행 인덱스

print(df.columns) #열 이름

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')

In [24]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                index = ['준서','예은'],
                 columns=['나이','성별','학교'])
df

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [23]:
#열 이름 바꾸기
df.rename(columns={'나이':'연령','성별':'남녀','학생':'소속'}, inplace = True)
df

    연령 남녀   학교
준서  15  남  덕영중
예은  17  여  수리중

In [25]:
#행 이름 바꾸기
df.rename(index={'준서':'학생1','예은':'학생2'}, inplace = True)
df

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

In [27]:
#변경 후 출력
df

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

In [36]:
exam_data = {'수학' : [90,80,70],'영어' : [98,89,95], '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [48]:
# 데이터프레임 df를 복제하여 변수 df2에 저장, df2의 1개 행(row) 삭제 ,axis=0
df2 =df.copy()
df2.drop('우현',inplace=True)
print(df2)

print('\n')

#행 2개 삭제
df3=df.copy()
df3.drop(['우현','인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

In [42]:
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [51]:
df4=df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4)

df5=df.copy()
df5.drop(['영어','음악'], axis = 1, inplace=True)
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90
    수학   체육
서준  90  100
우현  80   90
인아  70   90

###### 행 선택 (21p)

In [52]:
exam_data = {'수학' : [90,80,70],'영어' : [98,89,95], '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [53]:
#행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print('\n')
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [56]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [61]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [67]:
#열 선택

exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' : [90, 80, 70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
            '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

#'수학' 점수 데이터만, 변수 math1에 저장
math1 = df['수학']
print(math1)

english = df.영어
print(english)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
0    98
1    89
2    95
Name: 영어, dtype: int64

In [70]:
#음악, 체육 데이터만
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))

#수학 점수 데이터만
math2 = df[['수학']]
print(math2)
print(type(math2))

27페이지부터

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>
   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [4]:
exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' : [90, 80, 70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
            '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)

#'이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영

df.set_index('이름', inplace= True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [7]:
# 데이터프레임 df의 특정 원소 1개 선택('서준'의 '음악' 점수)
a = df.loc['서준','음악']
print(a)
b = df.iloc[0,2] #0행 2열
print(b)

85
85

In [9]:
#데이터프레임 df의 특징 원소 2개 이상 선택('서준'의 '음악','체육' 점수)
c = df.loc['서준',['음악','체육']]  
print(c)
d=df.iloc[0,[2,3]]
print(d)
e = df.loc['서준','음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [15]:
g = df.loc[['서준','우현'],['음악','체육']]
print(g)
h = df.iloc[[0,1],[2,3]]
print(h)
i = df.loc['서준':'우현','음악':'체육']
print(i)
j = df.iloc[0:2,2:]
print(j)

z = df.iloc[:,[2,3]]
print(z)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
     음악   체육
이름
서준   85  100
우현   95   90
인아  100   90

In [26]:
#열 추가
exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' :  [ 90, 80, 70],
             '영어' :  [ 98, 89, 95],
             '음악' :  [ 85, 95, 100],
             '체육' :  [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

#데이터프레임 df에 '국어' 점수 열(column) 추가, 데이터 값은  80 지점
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [33]:
#행추가
exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' :  [ 90, 80, 70],
             '영어' :  [ 98, 89, 95],
             '음악' :  [ 85, 95, 100],
             '체육' :  [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

#행 추가
df.loc[4] = ['동규',90,80,70,60] 
print(df)
print('\n')

#기존 행 복사
df.loc[5] = df.loc[4]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
4  동규  90  80   70   60


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
4  동규  90  80   70   60
5  동규  90  80   70   60

In [38]:
#원소값 변경
exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' :  [ 90, 80, 70],
             '영어' :  [ 98, 89, 95],
             '음악' :  [ 85, 95, 100],
             '체육' :  [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

#'이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름',inplace=True)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [41]:
#데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육'점수
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준','체육'] = 100
print(df)
print('\n')

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [44]:
#df의 원소 여러 개를 변경하는 방법: '서준'의 '음악', '체육' 점수
df.loc['서준',['음악','체육']] = 100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [48]:
#행, 열의 위치 바꾸기
#데이터프레임 df를 전치하기(메소드 활용)
df = df.transpose()
print(df)
print('\n')

#재전치하기
df=df.T
print(df)

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

### 인덱스 활용

In [52]:
exam_data = {'이름' : [ '서준','우현','인아'],
             '수학' :  [ 90, 80, 70],
             '영어' :  [ 98, 89, 95],
             '음악' :  [ 85, 95, 100],
             '체육' :  [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')


#특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')
ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3 = ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

In [56]:
#행 인덱스 재배열

#딕셔너리 정의
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

#딕셔너리를 데이터 프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print('\n')

#인덱스를 [r0,r1,r2,r3,r4]로 재지정
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

#새 인덱스 결측치를 0으로 채우기
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

#행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [63]:
#행 인덱스를 기준으로 데이터프레임 정렬
#ascending=False 내림차순/ascending=True 오름차순

dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print('\n')

#내림차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

#오름차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=True)
print(ndf)

#특정 열 기준 정렬, sort_values() 메소드를 활용
ndf = df.sort_values(by='c1',ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

### 산술연산

In [65]:
#시리즈/숫자

student1 = pd.Series({'국어':100,'영어':80,'수학':90})
print(student1)
print('\n')

#학생의 과목별 점수를 200으로 나누기
percentage = student1/200
print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

In [67]:
#시리즈/시리즈
#유효한 값이 매칭되지 않으면 NAN으로 출력함

student1 = pd.Series({'국어':100,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90,'영어':80})
print(student1)
print('\n')
print(student2)
print('\n')

a = student1 + student2
b = student1 - student2
c = student1 * student2
d = student1/ student2
print('\n')

result = pd.DataFrame([a,b,c,d], index=['덧셈','뺄샘','곱셈','나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64




              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄샘     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [70]:
#결측치처리로 NAN을 0으로 출력함

#딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})
print(student1)
print('\n')
print(student2)
print('\n')

#두 학생의 과목별 점수로 사칙연산 수행(시리즈 vs 시리즈)
sr_add = student1.add(student2,fill_value=0) #덧셈
sr_sub = student1.sub(student2, fill_value=0) #뺄셈
sr_mul = student1.mul(student2, fill_value=0) #곱셈
sr_div = student1.div(student2, fill_value=0) #나눗셈

#사칙연산 결과를 데이터프레임으로 합치기(시리즈-> 데이터프레임)
result = pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],
                index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

In [80]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.tail())
print('\n')
print(type(df))
print('\n')

#데이터프레임에 10 더하기
addition = df + 10
print(addition.tail())
print(type(addition))
print('\n')

#데이터프레임끼리 연산(addition - df)
subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75
<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>